<div class="wrapper">
  <!-- Main Header -->
  <app-starter-header></app-starter-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-starter-left-side></app-starter-left-side>
  <!-- Content Wrapper. Contains page content -->
  <!-- <app-starter-content></app-starter-content> -->
  <!-- /.content-wrapper -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Page Header <small>Optional description1</small></h1>
      <ol class="breadcrumb">
        <li>
          <a href="#"><i class="fa fa-dashboard"></i> Level</a>
        </li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content"><router-outlet></router-outlet></section>
    <!-- /.content -->
  </div>

  <!-- Main Footer -->
  <app-starter-footer></app-starter-footer>
  <!-- Control Sidebar -->
  <app-starter-control-sidebar></app-starter-control-sidebar>
  <!-- /.control-sidebar -->

  <!--
    Add the sidebar's background. This div must be placed
    immediately after the control sidebar
  -->
  <div class="control-sidebar-bg"></div>
</div>
